

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <div style="padding-top: 150px;" class="row g-3">


                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Type</label>
                    <div class="dropdown">
                        <select [(ngModel)]="selectedOption" (change)="updateInputValue()">
                            <option *ngFor="let option of dropdownOptions" [value]="option.value">{{ option.label }}</option>
                          </select>
                      
                      
                    </div><br>
                    <input type="text" class="form-control" [(ngModel)]="inputValue">
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Price</label>
                    <input [(ngModel)]="price" type="text" class="form-control">
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Ingredients</label>
                    <textarea [(ngModel)]="ingredient" class="form-control" name="" id="" cols="30" rows="10"></textarea>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Photo</label>
                    
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <button (click)="add()" type="button" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
